body {
  padding: 20px;
  margin: 0;
}

p {
  color: blue;
}

#container {
  width: 60%;
  margin: 10px auto;
}

button {
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  font-size: 19px;
  height: 100%;
  margin: 0;
  padding: 20px;
  width: 60px;
}

button:hover {
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

#app div {
  margin: 0;
  padding: 0;
}

.row {
  height: 60px;
}

#app, #header, #footer {
  width: 200px;
  margin: 80px auto;
}

#footer > div {
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
  padding: 10px;
  text-align: center;
  width: 80%;
}

#footer > div:hover {
  cursor: pointer;
}

#footer > div:active {
  cursor: pointer;
  box-shadow: none;
}

#winnerWinner, #tieScore {
  text-align: center;
}