body {
  padding: 20px;
}

button {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #000;
}

div {
  margin: 0;
}

.board {
  width: 100%;
  margin: 80px 80px;
}

.row {
  margin-top: -2px;
}